h5 {
  font-style: italic;
}
.logo {
  color:#daad86;
  /*padding-bottom: 5px;*/
}
.bookBtn , .authorsBtn {
  background-color: #98dafc;
  color: #312c32;
}
.bookAuthorsTag {
  height: 3vh;
  font-style: italic;
}
#AddBookBtn {
  /*width: 20%;*/

}
#authorAddSelect {
  width: 78%;
}
#authorsRemoveSelect {
    width: 83%;
}
#removeAuthorBtn {

}
.newBookForm {
  width: 50%;
}
#cover {
  height: 30vh;
}
.desc {
  height: 15vh;
  overflow-y: scroll
}
li a {
    color:#98dafc;
}
.logo:hover {
  color:#daad86;
}
* {
margin: 0;
padding: 0;
}
main {
  padding-top: 20vh;
}

nav {
  padding-bottom: 10px;
}
.authorimg {
  width: 100%;
  height: 55vh;
  opacity: 0.7;
}
.authorimg:hover {
  opacity: 0.9;
}
.bookimg {
  width: 100%;
    height: 55vh;
  opacity: 0.7;
}
.bookimg:hover {
  opacity: 0.9;

}
.authorTitle {
  width: 38%;
   float: left;
   margin-left: 10%;
   margin-right: 4%;
}
.authorTitle h1 {
  font-family: 'Lora', serif;
  text-align: center;
  color:#daad86;
}
.bookTitle {
  width: 38%;
 float: left;
   margin-right: 10%;
}
.bookTitle h1 {
font-family: 'Lora', serif;
  text-align: center;
  color:#daad86;
}
